.Navbar {
  position: sticky;
  top: 0;
  min-height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(231, 226, 221);
  z-index: 1;
  flex-wrap: wrap;
}

.Navbar>menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.Navbar>menu>li {
  display: inline-block;
  margin-left: 10px;
  width: 100%;
}

.Navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.Navbar-icon {
  font-size: 1.5rem;
}

.Navbar-cart-btn {
  position: relative;
  cursor: pointer;
}

.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}